h1.separator {
    border: 5px solid black;
}

.image {
    width: 220px;
    height: 220px;
    background-color: #2b669a;
    margin: 0 auto;
}

.no-weight {
    font-weight: normal;
}

.top20 {
    margin-top: 20px;
}

.padding {
    padding: 5px;
}

.valign {
    margin: auto 0;
}

#topbar {
    height: 60px;
    padding: 10px 0;
}

div.login-btn {
    padding-left: 80px;
}
